#login-buttons
{
    position: absolute;
    top: 0;
    right: 0;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#interface
{
    width: 95%;
    max-width: 775px;
    margin: auto;
}

.btn
{
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px 10px 5px 30px;
    float: left;
    margin: 5px;
}

#give_take .btn
{
    font-size: 12px;
    width: 87px;
    text-align: right;
}

.btn.give
{
    background: #0e7866;
}

.btn.take
{
    background: #9e0b0f;
}

h1 
{
    color: #124a6b;
    font-size: 46px;
    text-align: center;
    margin: 40px 0 28px;
}

.leaderboard
{
    position: relative;
    top: 0;
}

#names_filter
{
    width: 420px;
    display: block;
    padding: 8px 20px 2px;
    margin: auto;
    border-radius: 20px;
    box-shadow: inset 0 3px 3px 0 rgba(0,0,0,.5);
    font-size: 16px;
    color: #dbdbdb;
}

.player
{
    overflow: hidden;
    margin: 20px 0;
    width: 100%;
}

.player .picture
{   
    width: 15%;
    height: 80px;
    min-width: 90px;
    position: relative;
    float: left;
}
 

.player figure
{
    border: 1px solid #c9c9c9;
    padding: 3px;
    width: 70px;
    height: 70px;
    margin: 0;
}

.player figure.picture img
{
    position: absolute;
    top: 0;
    left: 0;
}

.player_details
{
    width: 85%;
    float: left;
}

.front_card
{

}

.name_score
{
    width: 74%;
    float: left;
    height: 80px;
    background: url(/greatwork-bkgtexture.png);
}

#give_take.buttons
{
    width: 26%;
    float: left;
    height: 80px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ebebeb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ebebeb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ebebeb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ebebeb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}

.front_card
{
    background: gray;
    color: white;
    height: 80px;
}

.leave_comment
{
    background: lightblue;
}

.overflowbox{
    overflow-y:scroll; 
    margin:0 30px; 
    position: relative;
}

.chat{
        height: 150px; 
        border: 1px solid;
        margin-bottom: 40px;
}

.accomplishments {
    display: none;
}

#optionspanel
{
    width:300px;
}

.player:hover
{ 
background-color: yellow;
-webkit-transition: background-color 0.5s;
-moz-transition: background-color 0.5s;
-o-transition: background-color 0.5s;
-ms-transition: background-color 0.5s;
transition: background-color 0.5s;
}

.player .name {
    display: inline-block;
    width: 300px;
    font-size: 1.75em;
}

.player .score {
    display: inline-block;
    width: 100px;
    text-align: right;
    font-size: 2em;
    font-weight: bold;
    color: #777;
}

.player.selected {
    background-color: yellow;
}

.player.selected .accomplishments{
    display: block;
}

.player.selected .score {
    color: black;
}

.details, .none {
    font-weight: bold;
    font-size: 2em;
}

.none {
    color: #777;
}

.inc, .dec{
  cursor: pointer;
}


.greatMessage{
    width:300px;
}

.target {
    padding-bottom: 15px;
}

.details .fade.in {
    -webkit-animation-name: fadeIn;
}

.details .fade.out {
    -webkit-animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(startYposition);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(endYposition);
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        -webkit-transform: translateY(startYposition);
    } 
    100% {
        opacity: 0;
        -webkit-transform: translateY(endYposition);
    }
}