#login-buttons
{
    position: absolute;
    top: 0;
    right: 0;
}
body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 200;
    padding: 0;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#interface
{
    width: 95%;
    max-width: 775px;
    margin: auto;
}

.btn
{
    display: block;
    text-decoration: none;
    color: white;
    padding: 5px 10px 5px 30px;
    float: left;
    margin: 4px;
}

.give_take .btn
{
    font-size: 12px;
    width: 87px;
    text-align: right;
    border-radius: 3px;
    position: relative;
    top: 8px;
    left: 18px;
    text-transform: lowercase;
}

.btn.give,
.inc
{
    background: #0e7866;
    border: none;
}

.btn.take,
.dec
{
    background: #9e0b0f;
    border: none;
}

.btn.inc,
.btn.dec{
    height: 70px;
    line-height: 70px;
    width: 160px;
    text-align: center;
    padding: 0;
    font-size: 18px;
    margin: 5px;
}

h1 
{
    color: #124a6b;
    font-size: 46px;
    text-align: center;
    margin: 0;
    padding: 0;
}

.leaderboard
{
    position: relative;
    top: 27px;
    left: -60px;
}

#names_filter
{
    width: 420px;
    display: block;
    padding: 8px 20px 2px;
    margin: auto;
    border-radius: 20px;
    box-shadow: inset 0 3px 3px 0 rgba(0,0,0,.5);
    font-size: 16px;
    color: #dbdbdb;
    display: none;
}

.player
{
    overflow: hidden;
    margin: 20px 0;
    width: 100%;
}

.player .picture
{   
    width: 14%;
    height: 80px;
    min-width: 90px;
    position: relative;
    float: left;
}
 

.player figure
{
    border: 1px solid #c9c9c9;
    padding: 3px;
    width: 70px;
    height: 70px;
    margin: 0;
    border-radius: 40px;
    overflow: hidden;
}

.player .picture figure img
{
    border-radius: 40px;

}

.player_details
{
    width: 86%;
    float: left;
    box-sizing: border-box;
    border-radius: 10px;
    -moz-border-radius: 10px;
    overflow: hidden;
    border: 1px solid #f8f8f8;
}

.front_card
{

}

.greatascii
{
    font-size: 7px;
    white-space: pre;
    text-align: center
}

.name_score,
.input_form
{
    width: 74%;
    float: left;
    height: 80px;
    background: url(/greatwork-bkgtexture.png);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.input_form
{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ebebeb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ebebeb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ebebeb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ebebeb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}

.name_score .name
{
    font-size: 28px;
    margin: 21px 0 0 20px;
    line-height: 28px;
    display: block;
    font-weight: bold;
    float: left;
}

.name_score .score
{
    font-size: 50px;
    margin: 12px 20px 0 0px;
    line-height: 50px;
    display: block;
    font-weight: bold;
    float: right;
}



#give_take.buttons,
.go_buttons
{
    width: 26%;
    float: left;
    height: 80px;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top,  #ffffff 0%, #ebebeb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ebebeb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #ffffff 0%,#ebebeb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #ffffff 0%,#ebebeb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #ffffff 0%,#ebebeb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #ffffff 0%,#ebebeb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 ); /* IE6-9 */
}

.front_card
{
    color: white;
    height: 80px;
}

.leave_comment
{
    width: 100%;
    overflow: hidden;
}

.accomplishments {
    display: none;
    width: 98%;
    margin: 0 auto;
    color: black;
}

.accomplishments h4 {
    margin: 0 20px;
    color: white;
    background: #124a6b;
    color: white;
    line-height: 40px;
    text-indent: 20px;
}

.accomplishments .table_head
{
    margin: 0 20px;
    height: 24px;
    background: #aaa;
    clear: left;
}

.accomplishments .table_head > div,
.accomplishments .accomplishment_text > div
{
    float: left;
    width: 24%;
}

.accomplishments .accomplishment_text
{
    background: #e7e7e7;
    overflow: hidden;
    margin: 0 20px;
    border-bottom: 1px solid #adadad;
    padding: 12px 0;
}

.accomplishments .table_head .heading.message,
.accomplishments .accomplishment_text .details.message
{
    width: 52%;
}

.accomplishments .table_head .accomp span
{
    line-height: 24px;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    margin: 0 0 0 20px;
}

.accomp.from figure
{
    border: 1px solid #c9c9c9;
    padding: 3px;
    width: 28px;
    height: 28px;
    margin: 0 10px;
    border-radius: 40px;
    overflow: hidden;
    background: white;
    float: left;
}

.accomp.from figure img
{
    border-radius: 40px;

}

.details span
{
    color: #272727;
}

.details.from span
{
    float: left;
    font-size: 12px;
    margin: 10px 0 0 0;
    font-weight: bold;
}
.details.message span
{
    float: left;
    font-size: 14px;
    margin: 8px 0 0 20px;
}

.details.points span
{
    font-size: 36px;
    color: #5f5f5f;
    font-weight: bold;
    margin: 8px 0 0 0;
    margin: 0 0 0 20px;
}

.name:hover
{ 
    color: black;
    /* this is how you do a css animation */
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    transition: background-color 0.5s;
}

.leave_comment
{
    display: none;
}

 .leave_comment .greatMessage
{
    margin: 5px auto;
    display: block;
    width: 90%;
    height: 60px;
    box-shadow: inset 0 3px 3px 0 rgba(0,0,0,.5);
    font-size: 16px;
    color: #dbdbdb;
    border-radius: 0;
}

.target {
    padding-bottom: 15px;
}

.player.selected .accomplishments{
    display: block;
}

.details .fade.in {
    -webkit-animation-name: fadeIn;
}

.details .fade.out {
    -webkit-animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        -webkit-transform: translateY(startYposition);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(endYposition);
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
        -webkit-transform: translateY(startYposition);
    } 
    100% {
        opacity: 0;
        -webkit-transform: translateY(endYposition);
    }
}