/* line 1, ../../styling/sass/leaderboard.scss */
#login-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

/* line 7, ../../styling/sass/leaderboard.scss */
body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 18, ../../styling/sass/leaderboard.scss */
#interface {
  width: 95%;
  max-width: 775px;
  margin: auto;
}

/* line 24, ../../styling/sass/leaderboard.scss */
.btn {
  display: block;
  text-decoration: none;
  color: white;
  padding: 5px 10px 5px 30px;
  float: left;
  margin: 4px;
}

/* line 33, ../../styling/sass/leaderboard.scss */
.give_take {
  position: relative;
  top: -160px;
  width: 100%;
}
/* line 37, ../../styling/sass/leaderboard.scss */
.give_take .btn {
  font-size: 12px;
  width: 87px;
  text-align: right;
  border-radius: 3px;
  position: relative;
  top: 8px;
  left: 18px;
  text-transform: lowercase;
  height: 40px;
  line-height: 40px;
}

/* line 52, ../../styling/sass/leaderboard.scss */
.btn.take {
  position: absolute;
  top: 0;
  right: 0;
  left: auto;
}
/* line 58, ../../styling/sass/leaderboard.scss */
.btn.give {
  position: absolute;
  top: 0;
  left: 0;
  background: #0e7866;
  border: none;
}

/* line 67, ../../styling/sass/leaderboard.scss */
.inc {
  background: #0e7866;
  border: none;
}

/* line 72, ../../styling/sass/leaderboard.scss */
.btn.take, .dec {
  background: #9e0b0f;
  border: none;
}

/* line 78, ../../styling/sass/leaderboard.scss */
.btn.inc, .btn.dec {
  height: 70px;
  line-height: 70px;
  width: 160px;
  text-align: center;
  padding: 0;
  font-size: 18px;
  margin: 5px;
}

/* line 89, ../../styling/sass/leaderboard.scss */
h1 {
  color: #124a6b;
  font-size: 46px;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* line 97, ../../styling/sass/leaderboard.scss */
.chat {
  text-align: center;
}

/* line 101, ../../styling/sass/leaderboard.scss */
#names_filter {
  width: 420px;
  display: block;
  padding: 8px 20px 2px;
  margin: auto;
  border-radius: 20px;
  box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  font-size: 16px;
  color: #dbdbdb;
  display: none;
}

/* line 113, ../../styling/sass/leaderboard.scss */
.player {
  overflow: hidden;
  width: 100%;
  position: relative;
}
/* line 117, ../../styling/sass/leaderboard.scss */
.player .picture {
  width: 14%;
  height: 80px;
  min-width: 90px;
  position: relative;
  margin: 10px auto;
}
/* line 124, ../../styling/sass/leaderboard.scss */
.player figure {
  border: 1px solid #c9c9c9;
  padding: 3px;
  width: 70px;
  height: 70px;
  margin: auto;
  border-radius: 40px;
  overflow: hidden;
}
/* line 133, ../../styling/sass/leaderboard.scss */
.player .picture figure img {
  border-radius: 40px;
}

/* line 138, ../../styling/sass/leaderboard.scss */
.player_details {
  width: 100%;
  float: left;
  box-sizing: border-box;
  border-radius: 10px;
  -moz-border-radius: 10px;
  border: 1px solid #f8f8f8;
}

/* line 147, ../../styling/sass/leaderboard.scss */
.greatascii {
  font-size: 7px;
  white-space: pre;
  text-align: center;
}

/* line 153, ../../styling/sass/leaderboard.scss */
.name_score {
  height: 80px;
  background: url(/greatwork-bkgtexture.png);
  border-radius: 10px;
}

/* line 159, ../../styling/sass/leaderboard.scss */
.input_form {
  height: 80px;
  background: url(/greatwork-bkgtexture.png);
  border-radius: 10px;
  width: 60%;
  float: left;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #ebebeb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ebebeb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #ebebeb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #ebebeb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #ebebeb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 );
  /* IE6-9 */
}

/* line 184, ../../styling/sass/leaderboard.scss */
.name_score .name {
  font-size: 28px;
  margin: 21px 0 0 20px;
  line-height: 28px;
  display: block;
  font-weight: bold;
  float: left;
}
/* line 191, ../../styling/sass/leaderboard.scss */
.name_score .name p {
  font-size: 10px;
  margin: 0;
  line-height: 12px;
}
/* line 196, ../../styling/sass/leaderboard.scss */
.name_score .name a {
  color: white;
  text-decoration: none;
}
/* line 201, ../../styling/sass/leaderboard.scss */
.name_score .score {
  font-size: 50px;
  margin: 12px 20px 0 0px;
  line-height: 50px;
  display: block;
  font-weight: bold;
  float: right;
}

/* line 211, ../../styling/sass/leaderboard.scss */
.give_take.buttons, .go_buttons {
  width: 26%;
  float: left;
  height: 80px;
  background: #ffffff;
  /* Old browsers */
  background: -moz-linear-gradient(top, white 0%, #ebebeb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ebebeb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, white 0%, #ebebeb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, white 0%, #ebebeb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, white 0%, #ebebeb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 );
  /* IE6-9 */
}

/* line 233, ../../styling/sass/leaderboard.scss */
.front_card {
  color: white;
  border-radius: 10px;
  border: 1px solid lightgrey;
  height: 80px;
  background-image: linear-gradient(bottom, #f5f5f5 0%, #ffffff 50%);
  background-image: -o-linear-gradient(bottom, whitesmoke 0%, white 50%);
  background-image: -moz-linear-gradient(bottom, whitesmoke 0%, white 50%);
  background-image: -webkit-linear-gradient(bottom, whitesmoke 0%, white 50%);
  background-image: -ms-linear-gradient(bottom, whitesmoke 0%, white 50%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, whitesmoke), color-stop(0.5, white));
}

/* line 246, ../../styling/sass/leaderboard.scss */
.leave_comment {
  width: 100%;
  overflow: hidden;
}

/* line 251, ../../styling/sass/leaderboard.scss */
.accomplishments {
  display: none;
  width: 98%;
  margin: 0 auto;
  color: black;
}
/* line 256, ../../styling/sass/leaderboard.scss */
.accomplishments h4 {
  margin: 0 20px;
  color: white;
  background: #124a6b;
  color: white;
  line-height: 40px;
  text-indent: 20px;
}
/* line 264, ../../styling/sass/leaderboard.scss */
.accomplishments .table_head {
  margin: 0 20px;
  height: 24px;
  background: #aaa;
  clear: left;
}
/* line 269, ../../styling/sass/leaderboard.scss */
.accomplishments .table_head > div {
  float: left;
  width: 24%;
}
/* line 274, ../../styling/sass/leaderboard.scss */
.accomplishments .accomplishment_text {
  background-image: linear-gradient(bottom, #e7e7e7 50%, #e3dfe3 0%);
  background-image: -o-linear-gradient(bottom, #e7e7e7 50%, #e3dfe3 0%);
  background-image: -moz-linear-gradient(bottom, #e7e7e7 50%, #e3dfe3 0%);
  background-image: -webkit-linear-gradient(bottom, #e7e7e7 50%, #e3dfe3 0%);
  background-image: -ms-linear-gradient(bottom, #e7e7e7 50%, #e3dfe3 0%);
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.5, #e7e7e7), color-stop(0, #e3dfe3));
  overflow: hidden;
  margin: 0 20px;
  border-bottom: 1px solid #adadad;
  padding: 12px 0;
}
/* line 275, ../../styling/sass/leaderboard.scss */
.accomplishments .accomplishment_text > div {
  float: left;
  width: 24%;
}
/* line 290, ../../styling/sass/leaderboard.scss */
.accomplishments .table_head .heading.message, .accomplishments .accomplishment_text .details.message {
  width: 52%;
}
/* line 293, ../../styling/sass/leaderboard.scss */
.accomplishments .table_head .accomp span {
  line-height: 24px;
  font-size: 10px;
  color: white;
  text-transform: uppercase;
  margin: 0 0 0 20px;
}

/* line 302, ../../styling/sass/leaderboard.scss */
.accomp.from figure {
  border: 1px solid #c9c9c9;
  padding: 3px;
  width: 28px;
  height: 28px;
  margin: 0 10px;
  border-radius: 40px;
  overflow: hidden;
  background: white;
  float: left;
}
/* line 312, ../../styling/sass/leaderboard.scss */
.accomp.from figure img {
  border-radius: 40px;
}

/* line 318, ../../styling/sass/leaderboard.scss */
.details span {
  color: #272727;
}
/* line 321, ../../styling/sass/leaderboard.scss */
.details.from span {
  float: left;
  font-size: 12px;
  margin: 10px 0 0 0;
  font-weight: bold;
}
/* line 327, ../../styling/sass/leaderboard.scss */
.details.message span {
  float: left;
  font-size: 14px;
  margin: 8px 0 0 20px;
}
/* line 332, ../../styling/sass/leaderboard.scss */
.details.points span {
  font-size: 36px;
  color: #5f5f5f;
  font-weight: bold;
  margin: 8px 0 0 0;
  margin: 0 0 0 20px;
}

/* line 341, ../../styling/sass/leaderboard.scss */
.leave_comment {
  display: none;
}
/* line 343, ../../styling/sass/leaderboard.scss */
.leave_comment .greatMessage {
  margin: 5px auto;
  display: block;
  width: 90%;
  height: 60px;
  box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  font-size: 16px;
  color: black;
  border-radius: 0;
}

/* line 355, ../../styling/sass/leaderboard.scss */
.target {
  padding-bottom: 15px;
}

/* line 359, ../../styling/sass/leaderboard.scss */
.player.selected .accomplishments {
  display: block;
}

@media only screen and (min-width: 600px) {
  /* line 364, ../../styling/sass/leaderboard.scss */
  .leaderboard {
    position: relative;
    top: 27px;
    left: -60px;
  }

  /* line 370, ../../styling/sass/leaderboard.scss */
  .details .fade.in {
    -webkit-animation-name: fadeIn;
  }
  /* line 373, ../../styling/sass/leaderboard.scss */
  .details .fade.out {
    -webkit-animation-name: fadeOut;
  }

  @-webkit-keyframes fadeIn {
    /* line 378, ../../styling/sass/leaderboard.scss */
    0% {
      opacity: 0;
      -webkit-transform: translateY(startYposition);
    }

    /* line 382, ../../styling/sass/leaderboard.scss */
    100% {
      opacity: 1;
      -webkit-transform: translateY(endYposition);
    }
}

  @-webkit-keyframes fadeOut {
    /* line 389, ../../styling/sass/leaderboard.scss */
    0% {
      opacity: 1;
      -webkit-transform: translateY(startYposition);
    }

    /* line 393, ../../styling/sass/leaderboard.scss */
    100% {
      opacity: 0;
      -webkit-transform: translateY(endYposition);
    }
}

  /* line 400, ../../styling/sass/leaderboard.scss */
  .player .picture {
    width: 14%;
    height: 80px;
    min-width: 90px;
    position: relative;
    float: left;
    margin: 0;
  }
  /* line 408, ../../styling/sass/leaderboard.scss */
  .player figure {
    border: 1px solid #c9c9c9;
    padding: 3px;
    width: 70px;
    height: 70px;
    margin: 0;
    border-radius: 40px;
    overflow: hidden;
  }

  /* line 418, ../../styling/sass/leaderboard.scss */
  .name_score, .input_form {
    width: 74%;
  }

  /* line 421, ../../styling/sass/leaderboard.scss */
  .player_details {
    width: 86%;
  }

  /* line 424, ../../styling/sass/leaderboard.scss */
  .name_score, .input_form {
    height: 80px;
    -webkit-border-top-right-radius: 0px;
    -webkit-border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -moz-border-radius-bottomright: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  /* line 433, ../../styling/sass/leaderboard.scss */
  .name:hover {
    /* this is how you do a css animation */
    -webkit-transition: background-color 0.5s;
    -moz-transition: background-color 0.5s;
    -o-transition: background-color 0.5s;
    -ms-transition: background-color 0.5s;
    transition: background-color 0.5s;
  }

  /* line 441, ../../styling/sass/leaderboard.scss */
  .name_score {
    float: left;
    height: 80px;
    background: url(/greatwork-bkgtexture.png);
    border-radius: 0px;
    width: 74%;
  }

  /* line 448, ../../styling/sass/leaderboard.scss */
  .input_form {
    float: left;
    height: 80px;
    background: url(/greatwork-bkgtexture.png);
    border-radius: 0px;
    width: 74%;
    background-color: none;
    background: -moz-linear-gradient(top, white 0%, #ebebeb 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #ebebeb));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, white 0%, #ebebeb 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, white 0%, #ebebeb 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, white 0%, #ebebeb 100%);
    /* IE10+ */
    background: linear-gradient(to bottom, #ffffff 0%, #ebebeb 100%);
    /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ebebeb',GradientType=0 );
    /* IE6-9 */
  }

  /* line 470, ../../styling/sass/leaderboard.scss */
  .give_take {
    top: 2px;
  }
  /* line 472, ../../styling/sass/leaderboard.scss */
  .give_take .btn {
    font-size: 12px;
    width: 87px;
    text-align: right;
    border-radius: 3px;
    position: relative;
    top: 8px;
    left: 18px;
    text-transform: lowercase;
    height: auto;
    line-height: 14px;
  }

  /* line 486, ../../styling/sass/leaderboard.scss */
  .btn.take, .btn.give {
    position: relative;
    right: auto;
    left: 18px;
  }

  /* line 492, ../../styling/sass/leaderboard.scss */
  .name_score {
    border-radius: 10px;
  }

  /* line 495, ../../styling/sass/leaderboard.scss */
  .message_text {
    width: 100%;
  }
}
