#login-buttons, .currentplayer {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.currentplayer {
  width: 300px;
  margin-top: 40px;
}

.current-score, .current-points{
  display:block;
}

.current-score {
  color: red;
  font-size: 40px;
  font-weight: 400;
}

.current-picture, .current-player-score{
  float: right;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

#interface {
  width: 95%;
  max-width: 700px;
  margin: auto;
}

.inc {
    height: 70px;
    border: 1px solid lightgrey;
    @include background-image(linear-gradient(color-stops(rgb(255,255,255) 0%, rgb(245,245,245) 50%)));
    @include border-radius(10px);
    line-height: 70px;
    width: 100px;
    text-align: center;
    font-size: 18px;
    margin: 5px;
  }

.chat { 
  text-align: center;
}

.player {
  overflow: hidden;
  width: 100%;
  position: relative;
  .picture {
      height: 80px;
      position: relative;
      float: left;
      margin: 0;
  }
  figure {
      border: 1px solid #c9c9c9;
      padding: 3px;
      width: 70px;
      height: 70px;
      margin: 0;
      @include border-radius(40px);
      overflow: hidden;
  }
  .picture figure img {
    border-radius: 40px;
  }
}

.player_details {
  width: 85%;
  float: left;
  box-sizing: border-box;
  @include border-radius(10px);
  padding: 2px;
}

.name_score {
  float: left;
  width: 74%;
  height: 80px;
  background: url(/greatwork-bkgtexture.png);
  @include border-radius(10px);

  .name {

    &:hover{
      background-color: darkblue;
      @include transition(background-color 0.5s);
    }

    width: 300px;
    font-size: 28px;
    margin: 21px 0 0 20px;
    line-height: 28px;
    display: block;
    font-weight: bold;
    float: left;
    p {
      font-size: 10px;
      margin: 0;
      line-height: 12px;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }

  .score {
    font-size: 50px;
    margin: 12px 20px 0 0px;
    line-height: 50px;
    display: block;
    font-weight: bold;
    float: right;
  }

}

.front_card {
  border: none;
  color: white;
  line-height: 80px;
}

.accomplishments {
  display: none;
  width: 98%;
  margin: 0 auto;
  color: black;
  h4 {
    margin: 0 20px;
    color: white;
    background: #124a6b;
    color: white;
    line-height: 40px;
    text-indent: 20px;
  }
  .table_head {
    margin: 0 20px;
    height: 24px;
    background: #aaa;
    clear: left;
    > div {
      float: left;
      width: 24%;
    }
  }
  .accomplishment_text {
    > div {
      float: left;
      width: 24%;
    }
    @include background-image(linear-gradient(color-stops(rgb(231, 231, 231) 0%, rgb(227, 223, 227) 50%)));
    overflow: hidden;
    margin: 0 20px;
    border-bottom: 1px solid #adadad;
    padding: 12px 0;
  }
  .table_head .heading.message, .accomplishment_text .details.message {
    width: 52%;
  }
  .table_head .accomp span {
    line-height: 24px;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    margin: 0 0 0 20px;
  }
}

.accomp.from figure {
  border: 1px solid #c9c9c9;
  padding: 3px;
  width: 28px;
  height: 28px;
  margin: 0 10px;
  @include border-radius(40px);
  overflow: hidden;
  background: white;
  float: left;
  img {
    @include border-radius(40px);
  }
}

.details {
  span {
    color: #272727;
  }
  &.from span {
    float: left;
    font-size: 12px;
    margin: 10px 0 0 0;
    font-weight: bold;
  }
  &.message span {
    float: left;
    font-size: 14px;
    margin: 8px 0 0 20px;
  }
  &.points span {
    font-size: 36px;
    color: #5f5f5f;
    font-weight: bold;
    margin: 8px 0 0 0;
    margin: 0 0 0 20px;
  }
}

.leave_comment {
  display: none;
  .greatMessage {
    margin: 5px auto;
    display: block;
    width: 90%;
    height: 60px;
    box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.5);
    font-size: 16px;
    color: black;
    @include border-radius(0px);
  }
}

.player.selected .accomplishments {
  display: block;
}

@media only screen and (min-width: 600px) {
  .leaderboard {
    position: relative;
    top: 27px;
    left: -60px;
  }

  .input_form {
    float: left;
    height: 80px;
    width: 74%;
    @include border-radius(10px);
  }
  .btn {
      &.give {
      height: 40px;
      padding: 20px;
      border: 1px solid lightgrey;
      -webkit-border-top-right-radius: 10px;
      -webkit-border-bottom-right-radius: 10px;
      -moz-border-radius-topright: 10px;
      -moz-border-radius-bottomright: 10px;
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;
      @include background-image(linear-gradient(color-stops(rgb(255,255,255) 0%, rgb(245,245,245) 50%)));
      &:hover{
        @include background-image(linear-gradient(color-stops(rgb(245,245,245) 0%), rgb(255,255,255) 50%));
      }
    }
  }
  .message_text {
    width: 100%;
  }
}

