#login-buttons {
  position: absolute;
  top: 0;
  right: 0;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
  padding: 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

#interface {
  width: 95%;
  max-width: 775px;
  margin: auto;
}

.btn {
  display: block;
  text-decoration: none;
  color: white;
  padding: 5px 10px 5px 30px;
  float: left;
  margin: 4px;
}

.give_take {
  position: relative;
  top: -160px;
  width: 100%;
  .btn {
    font-size: 12px;
    width: 87px;
    text-align: right;
    border-radius: 3px;
    position: relative;
    top: 8px;
    left: 18px;
    text-transform: lowercase;
    height: 40px;
    line-height: 40px;
  }
}

.btn {
  &.take {
    position: absolute;
    top: 0;
    right: 0;
    left: auto;
  }
  &.give {
    position: absolute;
    top: 0;
    left: 0;
    background: #0e7866;
    border: none;
  }
}

.inc {
  background: #0e7866;
  border: none;
}

.btn.take, .dec {
  background: #9e0b0f;
  border: none;
}

.btn {
  &.inc, &.dec {
    height: 70px;
    line-height: 70px;
    width: 160px;
    text-align: center;
    padding: 0;
    font-size: 18px;
    margin: 5px;
  }
}

h1 {
  color: #124a6b;
  font-size: 46px;
  text-align: center;
  margin: 0;
  padding: 0;
}

.chat {
  text-align: center;
}

#names_filter {
  width: 420px;
  display: block;
  padding: 8px 20px 2px;
  margin: auto;
  border-radius: 20px;
  box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.5);
  font-size: 16px;
  color: #dbdbdb;
  display: none;
}

.player {
  overflow: hidden;
  width: 100%;
  position: relative;
  .picture {
    width: 14%;
    height: 80px;
    min-width: 90px;
    position: relative;
    margin: 10px auto;
  }
  figure {
    border: 1px solid #c9c9c9;
    padding: 3px;
    width: 70px;
    height: 70px;
    margin: auto;
    border-radius: 40px;
    overflow: hidden;
  }
  .picture figure img {
    border-radius: 40px;
  }
}

.player_details {
  width: 100%;
  float: left;
  box-sizing: border-box;
  @include border-radius(10px);
  border: 1px solid #f8f8f8;
}

.greatascii {
  font-size: 7px;
  white-space: pre;
  text-align: center;
}

.name_score {
  height: 80px;
  background: url(/greatwork-bkgtexture.png);
  @include border-radius(10px);
}

.input_form {
  height: 80px;
  background: url(/greatwork-bkgtexture.png);
  @include border-radius(10px);
  width: 60%;
  float: left;
  @include background-image(linear-gradient(white, #ebebeb));
}

.name_score {
  .name {
    width: 300px;
    font-size: 28px;
    margin: 21px 0 0 20px;
    line-height: 28px;
    display: block;
    font-weight: bold;
    float: left;
    p {
      font-size: 10px;
      margin: 0;
      line-height: 12px;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
  .score {
    font-size: 50px;
    margin: 12px 20px 0 0px;
    line-height: 50px;
    display: block;
    font-weight: bold;
    float: right;
  }
}

.give_take.buttons, .go_buttons {
  width: 26%;
  float: left;
  height: 80px;
  @include background-image(linear-gradient(white, #ebebeb));
}

.front_card {
  color: white;
  border-radius: 10px;
  border: 1px solid lightgrey;
  height: 80px;
  @include background-image(linear-gradient(color-stops(rgb(255,255,255) 0%, rgb(245,245,245) 50%)));
}

.leave_comment {
  width: 100%;
  overflow: hidden;
}

.accomplishments {
  display: none;
  width: 98%;
  margin: 0 auto;
  color: black;
  h4 {
    margin: 0 20px;
    color: white;
    background: #124a6b;
    color: white;
    line-height: 40px;
    text-indent: 20px;
  }
  .table_head {
    margin: 0 20px;
    height: 24px;
    background: #aaa;
    clear: left;
    > div {
      float: left;
      width: 24%;
    }
  }
  .accomplishment_text {
    > div {
      float: left;
      width: 24%;
    }
    @include background-image(linear-gradient(color-stops(rgb(231, 231, 231) 0%, rgb(227, 223, 227) 50%)));
    overflow: hidden;
    margin: 0 20px;
    border-bottom: 1px solid #adadad;
    padding: 12px 0;
  }
  .table_head .heading.message, .accomplishment_text .details.message {
    width: 52%;
  }
  .table_head .accomp span {
    line-height: 24px;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    margin: 0 0 0 20px;
  }
}

.accomp.from figure {
  border: 1px solid #c9c9c9;
  padding: 3px;
  width: 28px;
  height: 28px;
  margin: 0 10px;
  @include border-radius(40px);
  overflow: hidden;
  background: white;
  float: left;
  img {
    @include border-radius(40px);
  }
}

.details {
  span {
    color: #272727;
  }
  &.from span {
    float: left;
    font-size: 12px;
    margin: 10px 0 0 0;
    font-weight: bold;
  }
  &.message span {
    float: left;
    font-size: 14px;
    margin: 8px 0 0 20px;
  }
  &.points span {
    font-size: 36px;
    color: #5f5f5f;
    font-weight: bold;
    margin: 8px 0 0 0;
    margin: 0 0 0 20px;
  }
}

.leave_comment {
  display: none;
  .greatMessage {
    margin: 5px auto;
    display: block;
    width: 90%;
    height: 60px;
    box-shadow: inset 0 3px 3px 0 rgba(0, 0, 0, 0.5);
    font-size: 16px;
    color: black;
    @include border-radius(0px);
  }
}

.target {
  padding-bottom: 15px;
}

.player.selected .accomplishments {
  display: block;
}

@media only screen and (min-width: 600px) {
  .leaderboard {
    position: relative;
    top: 27px;
    left: -60px;
  }
  .details .fade {
    &.in {
      -webkit-animation-name: fadeIn;
    }
    &.out {
      -webkit-animation-name: fadeOut;
    }
  }
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
      -webkit-transform: translateY(startYposition);
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(endYposition);
    }
  }

  @-webkit-keyframes fadeOut {
    0% {
      opacity: 1;
      -webkit-transform: translateY(startYposition);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(endYposition);
    }
  }

  .player {
    .picture {
      width: 14%;
      height: 80px;
      min-width: 90px;
      position: relative;
      float: left;
      margin: 0;
    }
    figure {
      border: 1px solid #c9c9c9;
      padding: 3px;
      width: 70px;
      height: 70px;
      margin: 0;
      @include border-radius(40px);
      overflow: hidden;
    }
  }
  .name_score, .input_form {
    width: 74%;
  }
  .player_details {
    width: 86%;
  }
  .name_score, .input_form {
    height: 80px;
    @include border-radius(0px);
  }
  .name:hover {
    /* this is how you do a css animation */
    background-color: darkblue;
    @include transition(background-color 0.5s);
  }
  .name_score {
    float: left;
    height: 80px;
    background: url(/greatwork-bkgtexture.png);
    @include border-radius(0px);
    width: 74%;
  }
  .input_form {
    float: left;
    height: 80px;
    background: url(/greatwork-bkgtexture.png);
    @include border-radius(0px);
    width: 74%;
    @include background-image(linear-gradient(white, #ebebeb));
  }
  .give_take {
    top: 2px;
    .btn {
      font-size: 12px;
      width: 87px;
      text-align: right;
      @include border-radius(3px);
      position: relative;
      top: 8px;
      left: 18px;
      text-transform: lowercase;
      height: auto;
      line-height: 14px;
    }
  }
  .btn {
    &.take, &.give {
      position: relative;
      right: auto;
      left: 18px;
    }
  }
  .name_score {
    @include border-radius(10px);
  }
  .message_text {
    width: 100%;
  }
}
