body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 200;
}

#interface {
  width: 95%;
  max-width: 700px;
  margin: auto;
}

.chat { 
  text-align: center;
}

.player {
  &:hover{
    @include transition(all, 200ms);
    padding: 10px;
    border: 1px dashed lightgrey;
    @include border-radius(10px);
  }
  overflow: hidden;
  width: 100%;
  position: relative;
  .picture {
      height: 80px;
      position: relative;
      float: left;
      margin: 0;
  }
  figure {
    @include round-border-figure(70px);
  }
}

.player_details {
  width: 600px;
  float: left;
  box-sizing: border-box;
  @include border-radius(10px);
  padding: 2px;
}

.name_score {
  float: left;
  width: 85%;
  height: 80px;
  background: url(/greatwork-bkgtexture.png);
  @include border-radius(10px);

  .name {
    width: 320px;
    font-size: 28px;
    margin: 21px 0 0 20px;
    line-height: 28px;
    display: block;
    white-space: nowrap;
    font-weight: bold;
    float: left;
    p {
      font-size: 10px;
      margin: 0;
      line-height: 12px;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }

    .small-font{
      font-size: 22px;
    }

  .score {
    font-size: 50px;
    margin: 12px 20px 0 0px;
    line-height: 50px;
    display: block;
    font-weight: bold;
    float: right;
  }

}

.front_card {
  width: 100%;
  border: none;
  color: white;
  line-height: 80px;
}

.accomplishments {
  display: none;
  width: 98%;
  margin: 0 auto;
  color: black;
  h4 {
    margin: 0 20px;
    color: white;
    background: #124a6b;
    color: white;
    line-height: 40px;
    text-indent: 20px;
  }
  .table_head {
    margin: 0 20px;
    height: 24px;
    background: #aaa;
    clear: left;
    > div {
      float: left;
      width: 24%;
    }
  }
  .accomplishment_text {
    > div {
      float: left;
      width: 24%;
    }
    @include background-image(linear-gradient(color-stops(rgb(231, 231, 231) 0%, rgb(227, 223, 227) 50%)));
    overflow: hidden;
    margin: 0 20px;
    border-bottom: 1px solid #adadad;
    padding: 12px 0;
  }
  .table_head .heading.message, .accomplishment_text .details.message {
    width: 52%;
  }
  .table_head .accomp span {
    line-height: 24px;
    font-size: 10px;
    color: white;
    text-transform: uppercase;
    margin: 0 0 0 20px;
  }
}

.accomp.from figure {
  @include round-border-figure(28px);
}

.details {
  span {
    color: #272727;
  }
  &.from span {
    float: left;
    font-size: 12px;
    margin: 10px 0 0 0;
    font-weight: bold;
  }
  &.message span {
    float: left;
    font-size: 14px;
    margin: 8px 0 0 20px;
  }
  &.points span {
    font-size: 36px;
    color: #5f5f5f;
    font-weight: bold;
    margin: 8px 0 0 0;
    margin: 0 0 0 20px;
  }
}

.leave_comment {
  width: 100%;
  display: none;
  height: 80px;
  .greatMessage {
    text-indent: 20px;
    float:left;
    width: 85%;
    padding: 0px;
    padding-left: 3px;
    box-sizing: border-box;
    height: 80px;
    font-size: 16px;
    color: black;
    @include border-radius(10px);
  }
  .inc_div{
    line-height: 80px;
  }
  .inc {
    float:left;
    height: 70px;
    border: 1px solid lightgrey;
    color: white;
    @include background-image(linear-gradient(color-stops(lighten(#0E7866, 10), #0E7866)));
    @include right-rounded(10px);
    width: 75px;
    text-align: center;
    font-size: 18px;
    margin: 0;
    margin-top: 5px;
  }
}

.player.selected .accomplishments {
  display: block;
}

@media only screen and (min-width: 600px) {
  .leaderboard {
    position: relative;
    top: 27px;
    left: -60px;
  }

  .input_form {
    display: block;
    float: left;
    height: 100%;
    width: 100%;
  }
  .btn {
      &.give {
      height: 40px;
      padding: 20px;
      border: 1px solid lightgrey;
      @include right-rounded(10px);
      @include background-image(linear-gradient(color-stops(rgb(255,255,255) 0%, rgb(245,245,245) 50%)));
      &:hover{
        @include background-image(linear-gradient(color-stops(rgb(245,245,245) 0%), rgb(255,255,255) 50%));
      }
    }
  }
  .message_text {
    width: 100%;
  }
}
