@mixin right-rounded($radius) {
      -webkit-border-top-right-radius: $radius;
      -webkit-border-bottom-right-radius: $radius;
      -moz-border-radius-topright: $radius;
      -moz-border-radius-bottomright: $radius;
      border-top-right-radius: $radius;
      border-bottom-right-radius: $radius;
}

@mixin round-border-figure($diameter) {
    border: 1px solid #c9c9c9;
    padding: 3px;
    width: $diameter;
    height: $diameter;
    margin: 0 10px;
    @include border-radius(40px);
    overflow: hidden;
    background: white;
    float: left;
    img {
        @include border-radius(40px);
    }
}

@mixin border-box{
  -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;    /* Firefox, other Gecko */
  box-sizing: border-box;         /* Opera/IE 8+ */
}
@mixin nav-ul {
  list-style-type:none;
  padding:0;
  margin:0;
  @include cf;
  & li{
    display:block;
    float:left;
    &:last-child{
      margin-right:0px;
    }
  }
}
@mixin hide-text{
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
@mixin hide-text2{
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
}
@mixin letterpress($opacity){
  text-shadow:white($opacity) 0 1px 0;
}
@mixin box-emboss($opacity, $opacity2){
  box-shadow:white($opacity) 0 1px 0, inset black($opacity2) 0 1px 0;
}

@mixin breakpoint($point) {
  @if $point == wide {
    @media (max-width: 9999px) { @content; }
  }
  @if $point == large {
    @media (max-width: 1200px) { @content; }
  }
  @if $point == tablet {
    @media (max-width: 800px) { @content; }
  }
  @else if $point == phone {
    @media (max-width: 320px)  { @content; }
  }
}

// http://blackbe.lt/useful-sass-mixins-css-trangle/
@mixin triangle($dir, $size, $color) {
    border: $size transparent solid;

    @if ($dir == "top" or $dir == "up" or $dir == "left" or $dir == "before") {
        &:before {
            @if ($dir == "top" or $dir == "up") {
                border-bottom-color: $color;
            }
            @else if ($dir == "right" or $dir == "after") {
                border-left-color: $color;
            }
        }
    }
    @else if ($dir == "bottom" or $dir == "down" or $dir == "left" or $dir == "before") {
        &:after {
            @if ($dir == "bottom" or $dir == "down") {
                border-top-color: $color;
            }
            @else if ($dir == "left" or $dir == "before") {
                border-right-color: $color;
            }
        }
    }
}